<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <parameters>
        <parameter name="sortby" value="Name" />
    </parameters>
    <classes>
      <class name="zhulei.com.TestCaseOne"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
